name: OWASP Maven Dependency Check
on:
  schedule:
    - cron: '0 12 * * 0'
  push:
    branches:
      - 'release/**'
  workflow_dispatch:


jobs:
  check-dependencies:
    uses: skymatic/workflows/.github/workflows/run-dependency-check.yml@957d3c2c08c56855fdac41e5afb9a7aca8c30dd9 # v3.0.3
    with:
      runner-os: 'ubuntu-latest'
      java-distribution: 'temurin'
      java-version: 25
    secrets:
      nvd-api-key: ${{ secrets.NVD_API_KEY }}
      ossindex-username: ${{ secrets.OSSINDEX_USERNAME }}
      ossindex-token: ${{ secrets.OSSINDEX_API_TOKEN }}
      slack-webhook-url: ${{ secrets.SLACK_WEBHOOK_CRYPTOMATOR_DESKTOP }}
